/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
*{
	box-sizing:border-box;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height:100%;
}
footer{
	width:100%;
	position:absolute;
	bottom:5px;
	text-align:center;
}
.main{
	position:absolute;
	height:40%;
	width:100%;
	margin:0;
	background: rgba(128,140,179,1);
	overflow:hidden;
	z-index:-1;
}
.logo{
	position:absolute;
	left:45%;
	top:45%;
}
.login{
	position:absolute;
	border:1px solid blue;
	border-radius:10px;
	padding:1em;
	left:80%;
	top:45%;
}
.info{
	background:url("../images/frame.png") no-repeat;
	position:absolute;
	padding:1em 2em 0 2em;
	width:46%;
	top:30%;
	right:10%;
}
.info img{
	margin-right:0.5em;
}
a{
	text-decoration:none;

}
ul{
	list-style:none;
}
li{
	display:inline;
	padding:0 0 0 1em;

}
.phones{
	position:absolute;
	left:10%;
	top:15%;
}
